
.nav-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 14px;
  padding: 6px;
}

.nav-mobile {
  display: block;
}

.nav-desktop {
  display: none;
}

.logo {
  width: 40px;
  height: 40px;
}

.tennis {
  width: 70px;
  height: 58px;
}

.margin {
  margin-right: 20px;
}

.green {
  background-color: green;
  border-radius: 50px;
  border: 8px solid green;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

li {
  margin-right: 5px;
  margin-left: 5px;
}

.text-home2 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  font-family: "Tahoma";
}

.btn {
  color: rgb(0, 0, 0) !important;
  background-color: transparent !important;
  border-color: transparent !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: "Tahoma" !important;
  text-decoration: none !important;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none !important;
  outline-offset: none !important;
}

.header {
  display: block;
}
    
.breadcrumb {
  display: none;
}

.headline {
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI";
  font-size: 30px;
  flex-grow: 1;
  font-weight: bold;
}

.profile-notifi-cont {
  align-items: center;
  display: flex;
}

#date-myGoals {
  margin-top: 20px;
  height: 22px;
  max-height: 22px;
  width: 188px;
  margin-left: 10px;
}

select.select-date {
  padding: 0px 12px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

select.select-date:hover,
select.select-date:focus {
  border-color: #666;
}

select.select-date option {
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  color: #333;
}

select.select-date option:checked {
  background-color: #ccc;
  color: #fff;
}

.image-button {
  background-color: transparent;
  border: none;
  margin-top: 18px;
  transform: scale(0.6);
}

.image-button img {
  width: 50px;
  height: 50px;
}

table {
  width: 100%;
}

.tableMyGoals {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

td {
  font-size: 3vw;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.formDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 14px;
}

.formDiv>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.header-option {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.h1-space {
  margin: 0 0 0 6px;
  align-items: center;
  font-family: "Segoe UI";
  font-size: 18px;
  display: flex;
}

.tableChooseCategory .tbodyChooseCategory input {
  width: 70px;
}

.tableChooseCategory {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tableChooseCategory th {
  text-align: center;
  font-size: 20px;
}

.tableChooseCategory img {
  width: 139px;
  height: 30px;
}

.headtitle-table {
  font-weight: bold;
}

.button-img-div {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.button-img-div>button {
  border: none;
  border-radius: 5px;
  width: 80px;
  font-size: 18px;
  height: 30px;
}

.imageMenu1 {
  width: 200px;
  height: 30px;
  margin-left: 160px;
}

.form-timeline {
  margin-bottom: 20px;
  margin-left: 10px;
  height: 30px;
}

#form-timeline-chooseCategory {
  margin-left: -32px;
  height: 26px;
}

.form-timeline-size {
  height: 26px;
  margin-right: 10px;
}

#header-add-goals {
  display: block;
}

#submit-button {
  margin-top: 20px;
  height: 40px;
  width: 100px;
}

#mod.show {
  display: block;
}

.lightbox-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) to control the darkness */
  z-index: 9998;
}

.lightbox-lightbox {
  width: 464px;
  height: 270px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}

.lightbox-button {
  top: 181px;
  left: 137px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(235, 235, 235, 1);

}
  .lightbox-text {
  top: 15px;
  left: 72px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-weight: Bold;
  text-align: left;
  font-family: tahoma;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.lightbox-group28 {
  top: 102.99934387207031px;
  left: 48.000030517578125px;
  width: 368.9998779296875px;
  height: 41.000648498535156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.lightbox-text2 {
  top: 10.000648498535156px;
  left: 51.9998779296875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-weight: Bold;
  text-align: left;
  font-family: tahoma;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.lightbox-union {
  top: 0px;
  left: 26.234771728515625px;
  width: 20px;
  height: 37px;
  position: absolute;
}

.lightbox-logo3 {
  top: 5px;
  left: 2px;
  width: 104px;
  height: 87px;
  position: absolute;
}

.footer-container{
  display: none;
}
  
.nav-home.navlink {
text-decoration: none;
}

.green1 {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

#save-edit-goal-btn {
  justify-content: center;
}

.my-goals-table {
  margin-top: 20px;
  flex-grow: 1;
  height: 100%;
}

.row-parent {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}

.row-parent:nth-child(even) {
  background-color: white;
}

.my-goals-column1 {
  max-width: 52%;
}

.my-goals-goalTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

.my-goals-cols-2-4 {
  display: flex;
  order: 3;
  width: 100%;
  justify-content: space-between;
  margin-top: 12px;
}

.my-goals-column2 {
  max-width: 33.3%;
  width: 33.3%;
  font-weight: bold;
}

.my-goals-column3 {
  width: 33.3%;

}

.my-goals-column4 {
  flex-grow: 2;
  margin-left: 12px;
}

.my-goals-column3-4 {
  display: flex;
  justify-content: space-between;
}

.my-goals-column3-4-parent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: end;
  width: -webkit-fill-available;
}

.my-goals-cols-2-4-parent {
  display: flex;
  flex-grow: 0.6;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  order: 1;
}

.my-goals-column5 {
  display: flex;
}

.my-goals-column6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-goals-column6-val {
  font-weight: bold;
}

.my-goals-edit {
  margin: 0px 10px;
  font-size: 16px;
}

.my-goals-edit:hover, .my-goals-delete:hover {
  text-decoration: none;
}

.my-goals-delete {
  margin-right: 10px;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 517px) {
  .my-goals-column5 {
    justify-content: end;
    display: flex;
    flex-grow: 1;
    margin-right: 54px;
  }

  .row-parent {
    padding: 14px;
  }

  .my-goals-edit {
    margin-right: 32px;
  }

  .wrapper-head {
    justify-content: space-around;
  }

  .my-goals-column6-val, .my-goals-goalTitle {
    font-weight: 900 !important;
    font-size: large;
  }
  .my-goals-column2 {
    font-size: bold;
  }

  .my-goals-edit, .my-goals-delete {
    font-size: 18px;
  }

  .headline {
    font-size: 34px;
  }

}

@media (min-width: 990px) {
  .nav-container {
   position: relative;
  }
  .header-container {
    flex-direction: row-reverse; 
    background-color: #46a546;
    padding: 20px;
  }

  .header-option {
    margin: 6px;
  }
  .logo {
    width: 80px;
    height: 80px;
  }

  .green {
    background-color: transparent;
    border-radius: 0;
    border: hidden;
    width: 60px;
    height: 60px;
    margin-left: 30px;
  }

  .tennis {
    width: 125px;
    height: 90px;
  }

  .margin {
    margin-right: 10px;
  }

  .nav-mobile {
    display: none;
  }
  
  .nav-desktop {
    display: block;
  }

  ul {
    width: 50vw;
    justify-content: space-between;
  }

  .text-home {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "Tahoma";
    display: inline-block;
    padding: 6px 12px;
  }

  .text-home:hover {
    background-color: #3d923d;
    border-radius: 50px;
    cursor: pointer;
  }

  .dropdown-menu {
    width: 160px;
  }

  .btn {
    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    font-family: "Tahoma" !important;
  }

  .dropdown:hover {
    background-color: #3d923d;
    border-radius: 50px;
    cursor: pointer;
  }

  .nav-home:hover {
    background-color: #3d923d;
    border-radius: 50px;
    cursor: pointer;
  }

  .nav-menu>ul>li {
    display: flex;
  }

  .headline {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 40px;
  }

  .image-button {
    background-color: transparent;
    border: none;
    margin-right: 72px;
    margin-top: 0px;
    transform: scale(1);
  }

  .h1-space {
    align-items: center;
    font-size: 36px;
  }
  
  .breadcrumb {
    display: block;
    width: 45%;
    max-width: 45%;
    background-color: transparent !important;
    padding: 0px !important;
    
  }
  
  .breadcrumb-list {
    display: flex;
    padding: 0;
    margin: 30px;
    color: blue;
  }
  
  .breadcrumb-item {
    margin-right: 10px;
    font-family: Helvetica;
    font-weight: bold;
    list-style-type: none;
  }
  
  .breadcrumb-item:not(:last-child):after {
    content: ">>";
    margin-left: 10px;
  }
  
  .breadcrumb-item:last-child {
    font-weight: bold;
  }
  
  .breadcrumb-item a {
    color: inherit;
    text-decoration: none;
    list-style-type: none;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  
  .active {
    color: black;
  }

  td {
    font-size: 20px;
    padding: 20px !important;
  }

  #date-myGoals {
    margin-top: 0px;
    height: 44px;
    max-height: 48px;
    width: 340px;
    margin-left: 100px;
  }

  select.select-date {
    font-size: 20px;
  }

  .form-timeline {
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #form-timeline-chooseCategory {
    height: 52px;
  }

  .form-timeline-size {
    height: 52px;
    margin-right: 3px;
  }

  .button-img-div>button {
    margin-right: 224px;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-size: 24px;
    height: 40px;
  }
  
  #nameOfGoal {
    width: 600px;
    font-size: 24px;
  }

  .form-Startdate-size {
    margin-top: 10px;
    font-size: 20px;
  }

  .form-nameofgoal-size {
    font-size: 26px;
  }

  #form-goalName-size {
    margin-top: 10px;
  }

  input[type="date"]#startDate #endDate {
    width: 30%;
    height: 100%;
  }

  #startDate {
    font-size: 24px;
  }

  #endDate {
    font-size: 24px;
  }
  
  .lightbox-container {
    max-width: 80%;
  }

  

  .footer-container {
    display: block;
  }

  .footer-footer {
    width: 100%;
    height: 360px;
    display: flex;
    background-color: rgba(246, 246, 246, 1);
    padding: 24px;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
  }

  .footer-text {
    color: rgba(176, 176, 176, 1);
    font-size: 18px;
    color: rgb(97, 96, 96);
  }

  .footer-text09 {
    font-size: 18px;
    text-align: left;
    font-family: tahoma;
    font-weight: 400;
    text-decoration: none;
  }

  .footer-text16 {
    font-size: 18px;
    text-align: left;
    font-family: tahoma;
    font-weight: 400;
    text-decoration: none;
  }

  .footer-text18 {
    font-size: 18px;
    text-align: left;
    font-family: tahoma;
    font-weight: 400;
    text-decoration: none;
    color: rgb(97, 96, 96);
  }

  .footer-text27 {
    font-size: 22px;
    text-align: left;
    font-family: tahoma;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .footer-logo3 {
    height: auto;
    width: 200px;
    margin-left: -16px;
  }

  .logo-description {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  .social-about-links{
    line-height: 40px;
  }

  .table-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navlinks-color {
    color: black;
  }

  .my-goals-cols-2-4 {
    order: 0;
    flex-grow: 1;
    width: auto;
  }

  .my-goals-cols-2-4-parent {
    display: flex;
    flex-grow: 0.6;
    flex-direction: column;
    justify-content: space-around;
    width: inherit;

  }

  .my-goals-column5 {
    display: flex;
  }

  .row-parent {
    padding: 16px;
    align-items: start;
  }

  .my-goals-edit {
    margin: 0px 48px;
    font-size: 24px;
  }
  
  .my-goals-delete {
    margin-right: 10px;
    font-size: 24px;
  }

  .wrapper-head {
    justify-content: space-between;
  }

  .my-goals-column1 {
    max-width: 37%;
  }

  
}